:root{
    --main--color:white;
  }
  body{
    font-family: "Comfortaa", cursive;
    background-color: #272b30;
    color: var(--main--color);
  
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: "Nerko One", cursive;
    color: var(--main--color) !important;
  }
  a,p,span{
    color: var(--main--color);
  }
  h1 img{
    padding-right: 5px;
  }
  header img{
    max-height: 30vh;
    object-fit: cover;
  }
  
  nav {
    background-color: rgb(58, 73, 124) !important;
    margin-inline: auto;
    margin-top: -25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.6);
  }
  nav h1{
    font-size: 18px !important;
  }
  .nav-item .nav-link.active,
  .nav-item .nav-link:hover {
    color: rgb(2, 152, 202) !important;
    transition: color 0.5s;
  }
  .nav-item .nav-link{
    color: var(--main--color) !important;
  }
  
  .game-cards .card {
    filter: grayscale(0.7);
    transition: transform 0.5s, filter 0.5s 0.1s;
    -webkit-transition: transform 0.5s, filter 0.5s 0.1s;
    -moz-transition: transform 0.5s, filter 0.5s 0.1s;
    -ms-transition: transform 0.5s, filter 0.5s 0.1s;
    -o-transition: transform 0.5s, filter 0.5s 0.1s;
    -webkit-filter: grayscale(0.7);
  }
  
  .game-cards .card:hover {
    transform: scale(1.05);
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
  
  .details {
    background-color: #272729be;
  }
  .details-text-bg{
    background-color: #3e3e3e;
  }
  
  .loading{
    position: fixed;
    --loading-alpha: 100%;
    background-color: rgba(39, 43, 48, var(--loading-alpha));
    top: 0;
    left: 0;
    z-index: 9999;
  }
  
  .loading .red{
    animation: loading-red;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  .loading .white{
    animation-name: loading-white;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    top: 5px;
    left: 2.5px;
  }
  
  @keyframes loading-red{
    100%{
        transform: rotate(360deg);
    }
  }
  
  @keyframes loading-white{
    100%{
        transform: rotate(-360deg);
    }
  }
  